@use '@/assets/scss/globals.scss';

.numeric-pad {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-around;

  li {
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    @media (min-width: 768px) {
      flex-basis: 33.3333%;
    }
  }

  .button-common {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-color: transparent;
    border: none;
  }

  &__number {
    box-shadow: 0 2px 6px #0000001a;
    font-size: 24px;
    padding: 8px 16px;
    border-radius: 6px;
  }

  &__left {
    color: globals.$gray;
  }
}
