@use '@/assets/scss/variables.scss';

.button-cell {
  height: variables.$default-cell-size;
  width: variables.$default-cell-size;
  border: 1px solid #999;
  background: #fff;
  float: left;
  font-size: calc(variables.$default-cell-size / 1.5);
  font-weight: bold;
  line-height: variables.$default-cell-size;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;

  &:disabled {
    color: #000;
  }
}
