@use '@/assets/scss/globals.scss';

.button-cell {
  height: globals.$default-cell-size;
  width: globals.$default-cell-size;
  border: 1px solid globals.$gray;
  background: globals.$white;
  float: left;
  font-size: calc(globals.$default-cell-size / 1.5);
  font-weight: bold;
  line-height: globals.$default-cell-size;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;

  &:disabled {
    color: globals.$black;
  }
}
