@use '@/assets/scss/variables.scss';

.button-square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: calc(variables.$square-size / 1.5);
  font-weight: bold;
  line-height: variables.$square-size;
  height: variables.$square-size;
  width: variables.$square-size;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}
