@use '@/assets/scss/globals.scss';

.sudoku-list {
  display: flex;
  flex-wrap: wrap;
  width: calc(globals.$sudoku-cell-size * 9);

  .button-cell {
    height: globals.$sudoku-cell-size;
    width: globals.$sudoku-cell-size;
    font-size: calc(globals.$sudoku-cell-size / 1.5);
    line-height: globals.$sudoku-cell-size;
  }

  li:nth-child(3n+3) {  
    margin-right: 1px;
  }

  li:nth-child(27n+27) {  
    margin-bottom: 1px;
  }

  .sudoku-cell {
    &--selected .button-cell {
      color: globals.$white;
      background-color: globals.$dark-green;
    }

    &--highlighted .button-cell {
      color: globals.$white;
      background-color: globals.$light-green;
    }

    &--error .button-cell {
      color: globals.$red;
    }
  }
}