@use '@/assets/scss/globals.scss';

.sudoku-list {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 3px;
  width: 100%;
  max-width: 380px;
  margin-left: -3px;

  @media (min-width: 768px) {
    width: 380px;
  }

  .button-cell {
    height: 100%;
    width: 100%;
    font-size: 5vw;
    border: none;
    border-radius: 6px;
    box-shadow: 0 2px 6px #0000001a;

    @media (min-width: 768px) {
      font-size: 24px;
    }
  }

  li {
    position: relative;
    aspect-ratio: 1;
  }

  li:nth-child(3n + 3) {
    margin-right: 3px;
  }

  li:nth-child(27n + 27) {
    margin-bottom: 3px;
  }

  .sudoku-cell {
    &--selected .button-cell {
      color: globals.$white;
      background-color: globals.$green;
    }

    &--highlighted .button-cell {
      color: globals.$white;
      background-color: globals.$light-green;
    }

    &--error .button-cell {
      color: globals.$red;
    }
  }
}
